---
import Navbar from '../components/Navbar.astro';
import CardTraktTv from "../components/CardTraktTv.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="TraktTV Progress">

    <Navbar />

	<main class="w-full mx-auto p-12">
		<p>... Trakt TV Index </p>
        <CardTraktTv />
	</main>


</Layout>